pipeline/copy_all_table.json
{
	"name": "copy_all_table",
	"properties": {
		"activities": [
			{
				"name": "ShowTables",
				"description": "List all tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureMySqlSource",
						"query": "show tables;",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "AzureMySqlDatabase",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ShowTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ShowTables').output.pipelineReturnValue",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy Each Table",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureMySqlSource",
									"query": {
										"value": "@{concat('SELECT * FROM ', item())}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "AzureMySqlDatabase",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}